html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


* {
  box-sizing: border-box;
}


a{
  text-decoration: none;
}
.navbar
{
margin: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;



}

.navbar-heading
{
  color: white;
  display: flex;
  align-items: center;
  height: 90px;
  font-size: 1.5em;
}
.navbar-link-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  
}

.navbar-link-container div{
  height: 30px;
  width: 100px;
  background-color: #3e3299;
  margin: 0 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  
}

.navbar-link-container div:hover   {
  background-color: white;
}
 .navbar-link
{
  color: white;
  text-decoration: none;

}
.navbar-link-container div:hover .navbar-link
{
  color: #5046a1;
  text-decoration: none;
}

/* acivities section start here */

.acivities-header

{
  text-align: center;
  color: black;
  font-weight: bolder;
}


.card-container{

  display: flex;
  justify-content: center;
}
.card{
   background-color: #ffe6f0;
  border-radius: 15px;
   width: 28%;
     margin: 10px 10px;
      padding: 15px; 
}

/* feature-container starts her */

.feature-container{
  margin-left: 9%;
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 7%;
  row-gap: 5%;
}

.feature-card{
  width:100%;
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px;
  background-color: #e3d4f3;

}
.feature-img-div{
overflow: hidden;
border-radius: 15px;

}
.feature-img{
  width: 100%;;
  
  border-radius: 15px;
  transition: 0.5s;
}
.feature-card:hover .feature-img{
 
transform: scale(1.2);



}

.feature-card-text{
  text-align: center;
}
/* footer starts here */

.footer-div{
background-color: black;
color: white;
height: 190px;
align-items: center;
width: 100%;
padding: 20px 10%;
margin-top: 100px;
text-align: center;
}

.fab {
  font-size: 25px;
  margin: 0 10px;
  color: white;
  background-color: black;
  transition: .6s;

}

.fab:hover{
transform: scale(1.5);
}

/* --------service page styling here ------------*/

.service-div{

  display:flex;
  align-items: center;
  margin-top: 30px;
  background-color: #756eaf;
  color: white;
  padding: 20px;
}



.service-div-headeing{
  width:50%;
  display:flex;
  justify-content:center
}


.service-div-img{
  width: 50%;
  height: 130px;
}


 

/*--------------------------------------------
-------------- design for mobile -------------
---------------------------------------------*/



/* navbar starts here */

@media (max-width: 700px) {

  .navbar-heading
  {
    
    font-size: 1em;
  }


  .navbar-items{
    flex-direction: column;
    width: 100%;
  }

  .navbar-link-container {
    flex-direction: column;
    width: 100%;
    height: 120px;  
  }

 .navbar-link-container div{
  
   width: 100%;
   margin: 4px 0;   
  }
  .navbar
  {
  flex-direction: column; 
  }




/* card container starts here */


  .card-container{
    display:block;
    justify-content: center;
  
  }



.card{
  width: 95%;
}


.feature-container{
  margin:40px  4%  50px 4%;
  display: block;
}


.feature-card{
  width:100%;
  border-radius: 15px;
  margin: 60px auto;

}

.footer-div{
  height: 250px;
  }

/* service page starting here */

  .service-div{
    display:block;
  }


  .service-div-img{
    width: 100%;
  }


 
  

}
